/* color variables */

:root {
	--mint: #3eb682;
	--white: #ffffff;
	--secondary: #0056b3;
	--secondary-light: #0057b32b;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	background-color: rgb(51, 51, 51, 1.0);
	background-image: url("images/bg.svg");
	background-position: center;
	background-size: cover;
    background-size: 280%;
	border-radius: 5px;
	padding: 0px;
	height: 100%; /* Full height based on html */
	border: #04b38a 0px solid;
}

.ctr {
	align-items: center;
	justify-content: center;
	max-width: 350px;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	/* background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(22,74,110,1) 100%); */
	margin: 0;
	border-radius: 5px;
}

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

h1 {
	margin: 10px;
	color: var(--mint);
	padding: 10px;
	font-size: 23px;
}

p {
	padding: 10px;
	background-color: var(--secondary-light);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-bottom: 2px;
	color: white;
}

button:hover {
	background-color: #04b38a;
}
button {
	margin: 15px;
	background-color: var(--secondary);
	min-width: 70px;
	max-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 12px;
	text-align: center;
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.icon-button:hover {
	background-color: #0d69cb;
}

.icon-button i {
	font-size: 18px;
	color: white;
	margin-bottom: 5px;
	margin-top: 3px;
}



#footer > div > .icon-button {

	background-color: #0057b3ca;

}

.icon-button {
	margin: 3px;
	background-color: var(--secondary);
	min-width: 50px;
	max-height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 12px;
	text-align: center;
	font-size: 13px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

label {
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-size: 1rem;
	padding-right: 10px;
	margin: 0px;
	margin-bottom: 5px;
}

select {
	font-size: 0.9rem;
	padding: 10px 5px;
	border-radius: 10px;
}

.tab {
	display: none;
	padding: 0px;
    background-color: rgba(43, 43, 43, 0.762);
    padding-bottom: 30px;
    border-radius: 5px;
    margin: 13px;
}

.reply {
	padding: 0px;
	color: #04b38a;
	margin: 6px;
	border: 0px solid #04b38a;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	background-color: #ffffff00;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#repliesContainer > div > p {
	margin: 10px;
	padding: 10px;
	max-width: 550px;
}

textarea {
	width: 100%;
	height: 130px;
	padding: 12px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: yes;
}


input {
    padding: 12px 10px;
    margin: 8px 0;
    margin-top: 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}



#footer {

	background-color: rgba(38, 53, 98, 0);
	background-image: url("images/bg.svg");
	Background-size: 200px;



}